{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Infinite Blackjack</title>

        <link href="{% static 'styles.css' %}" rel="stylesheet">
        <script src="{% static 'scripts_strategy.js' %}"></script> 
    </head>

    <body onclick="onClick(event);" oncontextmenu="onRightClick(event);">
        <input type="hidden" id="number_of_decks" value="{{ number_of_decks }}">
        {% csrf_token %}
        

        <a href="{% url 'index' %}">Home - Strategy</a><br>

        <h1>Strategy for - Infinite Blackjack - from Evolution Gaming</h1>
        <p>Bankroll: <input type="number" id="bankroll" value="0"></p>

        <div class="column">
            <div class="all_suited_cards">
                {% for heart, value in hearts %}
                    <div class="single_cards">
                        <input type="number" id="{{ heart.image }}_number" class="card_button_number" min="0" step="1" value="{{ value }}"/>
                        <input type="image" id="{{ heart.image }}_image" class="card_button_image" src="/static/cards_jpgs/{{ heart.image }}" alt="{{ heart.image }}">
                    </div>
                {% endfor %}
            </div>

            <div class="all_suited_cards">
                {% for diamond, value in diamonds %}
                    <div class="single_cards">
                        <input type="number" id="{{ diamond.image }}_number" class="card_button_number" min="0" step="1" value="{{ value }}"/>
                        <input type="image" id="{{ diamond.image }}_image" class="card_button_image" src="/static/cards_jpgs/{{ diamond.image }}" alt="{{ diamond.image }}">
                    </div>
                {% endfor %}
            </div>

            <div class="all_suited_cards">
            {% for spade, value in spades %}
                <div class="single_cards">
                    <input type="number" id="{{ spade.image }}_number" class="card_button_number" min="0" step="1" value="{{ value }}"/>
                    <input type="image" id="{{ spade.image }}_image" class="card_button_image" src="/static/cards_jpgs/{{ spade.image }}" alt="{{ spade.image }}">
                </div>
            {% endfor %}
            </div>

            <div class="all_suited_cards">
            {% for club, value in clubs %}
                <div class="single_cards">
                    <input type="number" id="{{ club.image }}_number" class="card_button_number" min="0" step="1" value="{{ value }}"/>
                    <input type="image" id="{{ club.image }}_image" class="card_button_image" src="/static/cards_jpgs/{{ club.image }}" alt="{{ club.image }}">
                </div>
            {% endfor %}
            </div>
        </div>

        
        <div class="column" id="column_2">
            <div class="side_bet_info">
                <button class="new_shoe">New Shoe</button>
                <p class="side_bets">
                    <input class="side_bets_ev" id="hot_3" value="{{ ev_hot_3 }}" readonly> Hot 3
                    <input class="kelly_pct" id="kelly_pct_hot_3" value="{{ kelly_pct_hot_3 }}" readonly>
                    <input class="optimal_bet" id="optimal_bet_hot_3" readonly>
                </p>
                <p class="side_bets">
                    <input class="side_bets_ev" id="21_plus_3" value="{{ ev_21_plus_3 }}" readonly> 21+3
                    <input class="kelly_pct" id="kelly_pct_21_plus_3" value="{{ kelly_pct_21_plus_3 }}" readonly>
                    <input class="optimal_bet" id="optimal_bet_21_plus_3" readonly>
                </p>
                <p class="side_bets">
                    <input class="side_bets_ev" id="any_pair" value="{{ ev_any_pair }}" readonly> Any Pair
                    <input class="kelly_pct" id="kelly_pct_any_pair" value="{{ kelly_pct_any_pair }}" readonly>
                    <input class="optimal_bet" id="optimal_bet_any_pair" readonly>
                </p>
                <p class="side_bets">
                    <input class="side_bets_ev" id="bust_it" value="{{ ev_bust_it }}" readonly> Bust It
                    <input class="kelly_pct" id="kelly_pct_bust_it" value="{{ kelly_pct_bust_it }}" readonly>
                    <input class="optimal_bet" id="optimal_bet_bust_it" readonly>
                </p>
                <br>
            
                <button class="new_round">New Round</button>
                <p class="side_bets"><input class="side_bets_ev" id="insurance" value="{{ ev_insurance }}" readonly> Insurance</p>
            </div>

            <div class="hand_info">
                <p class="results">
                    <input class="results_input" id="true_count" readonly> True Count
                    <input class="results_input" id="kelly_pct_hand_decision" readonly>
                    <input class="results_input" id="optimal_bet_hand_decision" readonly>
                </p>

                <p class="results"><input class="results_input" id="hand_decision" readonly></p>
                
                <button class="calculate_action">Calculate Action</button>

                <button class="undo_dealer">Undo</button>
                <p id="dealer_name">Dealer Hand | <span id="dealer_hand"></span></p>
                <br>

                <button class="undo_player">Undo</button>
                <button class="split">Split</button>
                <button class="second_hand">Second Hand</button>
                <p id="player_name">Player Hand</p>
                <span id="player_hand"></span>
                <p>-----------------</p>
                <span id="player_split_hand"></span>
            </div>
        </div>
        <div id="empty_space"></div>
    </body>
</html>









