.column {
    margin-left: 15px;
    float: left;
}


.card_button_number {
    width: 63px;
}
.card_button_image {
    width: 70px;
    outline: none;
    display: inline-block;
}
.card_button_image:hover {
    filter: brightness(0.8);
}

.single_cards {
    width: 70px;
    display: inline-block;
    margin: 5px;
}


#column_2 {
    width: 125px;
}
.side_bets_ev {
    width: 50px;
    border-width: 1px;
    color: white;
    background-color: red;
}
.side_bets {
    display: block;
    margin-top: 5px;
    margin-bottom: 3px;
}
.kelly_pct {
    width: 50px;
    border-width: 1px;
    color: white;
    background-color: red;
}
.optimal_bet {
    width: 50px;
    border-width: 1px;
    color: white;
    background-color: red;
}



.results_input {
    width: 40px;
    border-width: 1px;
    color: white;
}
.results {
    display: block;
}
#hand_decision {
    width: 120px;
    color: black;
    font-weight: 600;
    font-size: medium;
}

.calculate_action {
    margin-bottom: 15px;
}

.undo_dealer {
    display: block;
}
#dealer_name {
    margin-top: 5px;
    margin-bottom: 5px;
}


.undo_player {
    display: inline-block;
    margin-bottom: 5px;
}
.split {
    display: inline-block;
    margin-bottom: 5px;
}
.second_hand {
    display: block;
    margin-bottom: 5px;
}
#player_name {
    margin-top: 5px;
    margin-bottom: 5px;
}
#player_hand {
    margin-top: 2px;
}
#player_split_hand {
    margin-top: 2px;
}











