
.card_button_number {
    width: 63px;
}
.card_button_image {
    width: 70px;
    outline: none;
    display: inline-block;
}
.card_button_image:hover {
    filter: brightness(0.8);
}

.single_cards {
    width: 70px;
    display: inline-block;
    margin: 5px;
}


.column {
    margin-left: 15px;
    float: left;
}
.side_bets_ev {
    width: 50px;
    border-width: 1px;
    color: white;
    background-color: red;
}
.side_bets {
    display: block;
}


.calculate_action {
    margin-bottom: 30px;
}

.undo_dealer {
    display: block;
    margin-bottom: 5px;
}

.undo_player {
    display: inline-block;
    margin-bottom: 5px;
}
.split {
    display: inline-block;
    margin-bottom: 5px;
}
.second_hand {
    display: block;
    margin-bottom: 5px;
}












